Repository The-Hacker-Recipes/The-Hacker-Recipes, pull requests merged in 2024-12, with the labels that each got.

#110 Fix "browse" typo in trusts.md
  docs/src/ad/movement/trusts/index.md
Labels: active directory

#88 Add Telnet Information
  docs/src/infra/protocols/telnet.md
Labels: infra (sys & services)

#96 Update HTTP parameter pollution page
  docs/.vitepress/config.mts
  docs/src/web/inputs/http-parameter-pollution.md
Labels: web services

#107 Add ADCS ESC15
  docs/src/ad/movement/adcs/certificate-templates.md
  docs/src/ad/movement/adcs/index.md
Labels: active directory

#101 Complete infra-protocols descriptions and theory intro
  docs/src/infra/protocols/index.md
Labels: infra (sys & services)

#97 Update SSTI page
  docs/src/web/inputs/ssti.md
Labels: web services

#119 Update idor.md
  docs/src/web/inputs/idor.md
Labels: web services
